In [1]:
%reload_ext autoreload
%autoreload 2
import numpy as np
import pandas as pd

In [2]:
data_file = '../../data/data.csv'
df = pd.read_csv(data_file) 
df.head()

,Marca,Modelo,Año,Versión,Color,Tipo de combustible,Puertas,Transmisión,Motor,Tipo de carrocería,Kilómetros,Título,Precio,Moneda,Tipo de vendedor,Con cámara de retroceso
0,Peugeot,2008,2022.0,1.6 Feline Tip am20,Blanco,Nafta,5.0,Automática,1.6,SUV,23000 km,Peugeot 2008 1.6 Feline Tip am20,22499999.0,$,tienda,NaN
1,Peugeot,2008,2021.0,1.6 Allure,Marrón,Nafta,5.0,Manual,1.6,SUV,17000 km,Peugeot 2008 1.6 Allure,21999999.0,$,tienda,NaN
2,Peugeot,2008,2021.0,1.6 Allure,Marrón,Nafta,5.0,Manual,1.6,SUV,17500 km,Peugeot 2008 1.6 Allure,20500000.0,$,tienda,NaN
3,Peugeot,2008,2018.0,1.6 Feline,Blanco,Nafta,5.0,Manual,1.6,SUV,123600 km,Peugeot 2008 1.6 Feline,15000000.0,$,tienda,NaN
4,Peugeot,2008,2016.0,1.6 Thp Sport,Gris,Nafta,5.0,Manual,1.6,SUV,43000 km,Peugeot 2008 1.6 Thp Sport,12500000.0,$,tienda,NaN

## Modelos

In [3]:
from modelo.procesar_modelos import preprocesar_modelos

preprocesar_modelos(df)
modelos = df['Modelo'].value_counts() 
# ordenarlos alfabeticamente
modelos = modelos.sort_index()
print(modelos)

Modelo
2008       603
208          3
3008       263
4008        26
4RUNNER      8
          ...
X55         44
X6          85
X70         18
XC40        26
XC60        37
Name: count, Length: 156, dtype: int64

## Colores

In [4]:
from color.procesar_colores import preprocesar_colores 

preprocesar_colores(df)
colores = df['Color'].value_counts()
print(colores)

Color
OTRO        7262
GRIS        4678
BLANCO      4051
NEGRO       2199
PLATEADO    1509
AZUL         982
ROJO         945
MARRON       220
DORADO       204
VERDE        142
CELESTE       63
NARANJA       58
AMARILLO      26
BORDO         19
VIOLETA       11
BEIGE          8
Name: count, dtype: int64

## Marcas

In [5]:
from marca.procesar_marcas import preprocesar_marcas 

preprocesar_marcas(df)
marcas = df['Marca'].value_counts()
print(marcas)

Marca
JEEP             3099
FORD             2606
VOLKSWAGEN       2250
RENAULT          2202
CHEVROLET        2101
TOYOTA           1906
HONDA            1019
PEUGEOT           906
CITROËN           850
AUDI              839
BMW               637
FIAT              615
HYUNDAI           574
MERCEDES-BENZ     505
KIA               448
CHERY             341
NISSAN            311
DODGE             272
SUZUKI            138
LAND              132
BAIC               98
PORSCHE            94
MITSUBISHI         80
SUBARU             72
VOLVO              63
DS                 33
ALFA               26
ISUZU              24
HAVAL              23
LEXUS              23
LIFAN              16
SSANGYONG          14
GEELY              14
JETOUR             13
DAIHATSU           12
MINI                9
JAC                 6
JAGUAR              4
OTRO                2
Name: count, dtype: int64

## Motor

In [6]:
from motor.procesar_motor import preprocesar_motor 

preprocesar_motor(df) 
motores = df['Cilindrada'].value_counts()
motores

Cilindrada
2.0    4252
1.6    4182
1.8    2650
2.4    1756
1.4    1257
1.0    1067
1.5    1064
1.3    1016
2.8     963
3.0     944
1.2     898
2.5     630
0.0     446
3.6     305
2.2     204
2.7     136
4.0     126
3.5     102
3.8      60
3.2      41
3.7      36
4.8      28
4.4      27
4.2      24
5.2      22
4.7      18
6.4      16
3.1      14
4.5      12
6.0      10
3.3       9
5.0       8
5.7       8
2.3       8
4.3       7
6.1       7
5.5       6
2.9       6
8.0       4
2.6       4
1.9       2
2.1       1
4.6       1
Name: count, dtype: int64

## Transmisión

In [7]:
from transmision.procesar_transmision import preprocesar_transmision

preprocesar_transmision(df)
trans = df['Transmisión'].value_counts()
print(trans)

Transmisión
AUTOMÁTICA    14431
MANUAL         7914
OTRO             32
Name: count, dtype: int64

## Tipo de vendedor

In [8]:
from vendedor.procesar_vendedor import preprocesar_vendedor

preprocesar_vendedor(df)
vendedores = df['Tipo de vendedor'].value_counts()
print(vendedores)

Tipo de vendedor
CONCESIONARIA    10698
PARTICULAR        7430
TIENDA            4244
OTRO                 5
Name: count, dtype: int64

## Tipo de combustible

In [9]:
from combustible.procesar_combustible import preprocesar_combustible

preprocesar_combustible(df)
combustibles = df['Tipo de combustible'].value_counts()
print(combustibles)

Tipo de combustible
NAFTA             19383
DIÉSEL             2443
HÍBRIDO/NAFTA       250
NAFTA/GNC           193
ELÉCTRICO            48
HÍBRIDO              42
GNC                  17
HÍBRIDO/DIESEL        1
Name: count, dtype: int64

## Año

In [10]:
from año.procesar_año import preprocesar_año

preprocesar_año(df)
años = df['Año'].value_counts()
años

Año
2024.0    3341
2023.0    2631
2018.0    2043
2017.0    1928
2019.0    1465
2013.0    1304
2016.0    1264
2021.0    1156
2022.0    1152
2020.0    1078
2012.0     859
2011.0     696
2014.0     673
2015.0     648
2010.0     442
2008.0     369
2009.0     313
2007.0     219
2006.0     159
2005.0      88
1999.0      82
1998.0      81
2004.0      61
2000.0      59
2001.0      52
1997.0      51
1994.0      29
2003.0      24
1996.0      24
1993.0      23
2002.0      23
1995.0      19
1992.0      11
1987.0       6
1991.0       4
Name: count, dtype: int64

## Precio

In [11]:
from precio.procesar_precio import preprocesar_precio

dolar = 1030 
preprocesar_precio(df, dolar)
precios = df['Precio'].value_counts()
precios

Precio
12000.0000     183
15000.0000     175
14000.0000     159
16500.0000     157
20000.0000     154
              ...
35769.9029       1
18972.0388       1
26019.4184       1
16300.9709       1
178900.0000      1
Name: count, Length: 3524, dtype: int64

## Kilometros

In [12]:
from kilometro.procesar_kilometro import preprocesar_kilometros 

preprocesar_kilometros(df)
km = df['Kilómetros'].value_counts()
km

Kilómetros
0         4851
90000      249
1000       245
120000     242
130000     230
          ...
85345        1
67202        1
74275        1
28167        1
104200       1
Name: count, Length: 2620, dtype: int64

## Turbo

In [13]:
from turbo.procesar_turbo import preprocesar_turbo

preprocesar_turbo(df)
turbo = df['Turbo'].value_counts()
turbo

Turbo
NO    15674
SI     6703
Name: count, dtype: int64

## 7 Plazas

In [14]:
from plaza.procesar_7plazas import preprocesar_7plazas

preprocesar_7plazas(df)
plazas = df['7plazas'].value_counts()
plazas

7plazas
NO    21873
SI      504
Name: count, dtype: int64

## Versión

In [15]:
from version.procesar_versiones import preprocesar_versiones

preprocesar_versiones(df)
versiones = df['Versión'].value_counts()
versiones

Versión
OTRO           2466
SPORT          1925
TITANIUM        857
LTZ             831
COMFORTLINE     801
               ...
TRACK             2
GTS               2
NATURE            2
LE                2
PEPPERS           1
Name: count, Length: 134, dtype: int64

In [19]:
from camara_ret.procesar_camara_ret import preprocesar_camaraRetroceso

preprocesar_camaraRetroceso(df)
camaraRet = df['Con cámara de retroceso'].value_counts()
camaraRet

Con cámara de retroceso
NO INDICA    19145
SÍ            2386
NO             846
Name: count, dtype: int64

In [20]:
df.head()

,Marca,Modelo,Año,Versión,Color,Tipo de combustible,Puertas,Transmisión,Motor,Tipo de carrocería,Kilómetros,Título,Precio,Moneda,Tipo de vendedor,Con cámara de retroceso,Cilindrada,Turbo,7plazas
0,PEUGEOT,2008,2022.0,FELINE,BLANCO,NAFTA,5.0,AUTOMÁTICA,1.6,SUV,23000,Peugeot 2008 1.6 Feline Tip am20,21844.6592,U$S,TIENDA,NO INDICA,1.6,NO,NO
1,PEUGEOT,2008,2021.0,ALLURE,MARRON,NAFTA,5.0,MANUAL,1.6,SUV,17000,Peugeot 2008 1.6 Allure,21359.2223,U$S,TIENDA,NO INDICA,1.6,NO,NO
2,PEUGEOT,2008,2021.0,ALLURE,MARRON,NAFTA,5.0,MANUAL,1.6,SUV,17500,Peugeot 2008 1.6 Allure,19902.9126,U$S,TIENDA,NO INDICA,1.6,NO,NO
3,PEUGEOT,2008,2018.0,FELINE,BLANCO,NAFTA,5.0,MANUAL,1.6,SUV,123600,Peugeot 2008 1.6 Feline,14563.1068,U$S,TIENDA,NO INDICA,1.6,NO,NO
4,PEUGEOT,2008,2016.0,SPORT,GRIS,NAFTA,5.0,MANUAL,1.6,SUV,43000,Peugeot 2008 1.6 Thp Sport,12135.9223,U$S,TIENDA,NO INDICA,1.6,SI,NO

## Cosas varias

In [18]:
#hacer funcion que entre a carpeta version/info donde hay .txt y cambie los nombres a mayuscula

import os

def cambiar_nombres_mayuscula(carpeta):
    archivos = os.listdir(carpeta)
    for archivo in archivos:
        os.rename(carpeta + archivo, carpeta + archivo.upper())

# test
carpeta = './Version/info/'
cambiar_nombres_mayuscula(carpeta)

#funcion que entre a carpeta version/info donde hay .txt y cambie donde dice .TXT a .txt

def cambiar_extension(carpeta):
    archivos = os.listdir(carpeta)
    for archivo in archivos:
        os.rename(carpeta + archivo, carpeta + archivo.replace('.TXT', '.txt'))

# test
cambiar_extension(carpeta)