In [1]:
import numpy as np
import pandas as pd

In [2]:
data_file = '../../data/data.csv'
df = pd.read_csv(data_file) 
df.head()

,Marca,Modelo,Año,Versión,Color,Tipo de combustible,Puertas,Transmisión,Motor,Tipo de carrocería,Kilómetros,Título,Precio,Moneda,Tipo de vendedor,Con cámara de retroceso
0,Peugeot,2008,2022.0,1.6 Feline Tip am20,Blanco,Nafta,5.0,Automática,1.6,SUV,23000 km,Peugeot 2008 1.6 Feline Tip am20,22499999.0,$,tienda,NaN
1,Peugeot,2008,2021.0,1.6 Allure,Marrón,Nafta,5.0,Manual,1.6,SUV,17000 km,Peugeot 2008 1.6 Allure,21999999.0,$,tienda,NaN
2,Peugeot,2008,2021.0,1.6 Allure,Marrón,Nafta,5.0,Manual,1.6,SUV,17500 km,Peugeot 2008 1.6 Allure,20500000.0,$,tienda,NaN
3,Peugeot,2008,2018.0,1.6 Feline,Blanco,Nafta,5.0,Manual,1.6,SUV,123600 km,Peugeot 2008 1.6 Feline,15000000.0,$,tienda,NaN
4,Peugeot,2008,2016.0,1.6 Thp Sport,Gris,Nafta,5.0,Manual,1.6,SUV,43000 km,Peugeot 2008 1.6 Thp Sport,12500000.0,$,tienda,NaN

## Modelos

In [3]:
from procesar_modelos import preprocesar_modelos

preprocesar_modelos(df)
modelos = df['Modelo'].value_counts() 
# ordenarlos alfabeticamente
modelos = modelos.sort_index()
print(modelos)

Modelo
2008       603
208          3
3008       263
4008        26
4RUNNER      8
          ...
X55         44
X6          85
X70         18
XC40        26
XC60        37
Name: count, Length: 156, dtype: int64

## Colores

In [4]:
from procesar_colores import preprocesar_colores 

preprocesar_colores(df)
colores = df['Color'].value_counts()
print(colores)

Color
OTRO        7262
GRIS        4678
BLANCO      4051
NEGRO       2199
PLATEADO    1509
AZUL         982
ROJO         945
MARRON       220
DORADO       204
VERDE        142
CELESTE       63
NARANJA       58
AMARILLO      26
BORDO         19
VIOLETA       11
BEIGE          8
Name: count, dtype: int64

## Marcas

In [5]:
from procesar_marcas import preprocesar_marcas 

preprocesar_marcas(df)
marcas = df['Marca'].value_counts()
print(marcas)

Marca
JEEP             3099
FORD             2606
VOLKSWAGEN       2250
RENAULT          2202
CHEVROLET        2101
TOYOTA           1906
HONDA            1019
PEUGEOT           906
CITROËN           850
AUDI              839
BMW               637
FIAT              615
HYUNDAI           574
MERCEDES-BENZ     505
KIA               448
CHERY             341
NISSAN            311
DODGE             272
SUZUKI            138
LAND              132
BAIC               98
PORSCHE            94
MITSUBISHI         80
SUBARU             72
VOLVO              63
DS                 33
ALFA               26
ISUZU              24
HAVAL              23
LEXUS              23
LIFAN              16
SSANGYONG          14
GEELY              14
JETOUR             13
DAIHATSU           12
MINI                9
JAC                 6
JAGUAR              4
OTRO                2
Name: count, dtype: int64

## Motor

In [3]:
motores = df['Motor'].value_counts()
# ordenarlos alfabeticamente
motores = motores.sort_index()
motores.to_csv('motores_ordenados.csv')
# # print ALL motores with scrollable output
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#     print(motores)

from procesar_motor import preprocesar_motor 

preprocesar_motor(df)
motores = df['Motor'].value_counts()
# ordenarlos alfabeticamente
motores = motores.sort_index()
print(motores)

Motor
1       1103
1.2      899
1.3     1011
1.4     1258
1.5     1064
1.6     4184
1.8     2651
1.9        3
2       4258
2.1        4
2.2      208
2.3        8
2.4     1757
2.5      633
2.6        4
2.7      136
2.8      962
2.9        6
3        945
3.1       14
3.2       41
3.3        9
3.5      102
3.6      305
3.7       36
3.8       60
4        126
4.2       24
4.3        7
4.4       26
4.5       12
4.6        1
4.7       18
4.8       28
5          9
5.2       22
5.5        6
5.7        8
6          5
6.1        7
6.4       16
8          4
OTRO     389
V6         6
V8         2
Name: count, dtype: int64

## Transmisión

In [3]:
from procesar_transmision import preprocesar_transmision

preprocesar_transmision(df)
trans = df['Transmisión'].value_counts()
print(trans)

Transmisión
AUTOMÁTICA    14431
MANUAL         7914
OTRO             32
Name: count, dtype: int64

## Tipo de vendedor

In [3]:
from procesar_vendedor import preprocesar_vendedor

preprocesar_vendedor(df)
vendedores = df['Tipo de vendedor'].value_counts()
print(vendedores)

Tipo de vendedor
CONCESIONARIA    10698
PARTICULAR        7430
TIENDA            4244
OTRO                 5
Name: count, dtype: int64

## Tipo de combustible

In [3]:
from procesar_combustible import preprocesar_combustible

preprocesar_combustible(df)
combustibles = df['Tipo de combustible'].value_counts()
print(combustibles)

Tipo de combustible
NAFTA             19383
DIÉSEL             2443
HÍBRIDO/NAFTA       250
NAFTA/GNC           193
ELÉCTRICO            48
HÍBRIDO              42
GNC                  17
HÍBRIDO/DIESEL        1
Name: count, dtype: int64